Repository hanjoondev/minesweeper, pull requests merged in 2022-08, with the labels that each got.

#6 Close #1 회원 가입/ 탈퇴 관련 기능 구현
  src/main/java/com/zerobase/minesweeper/component/MailComponent.java
  src/main/java/com/zerobase/minesweeper/component/MailComponentImpl.java
  src/main/java/com/zerobase/minesweeper/controller/GamerController.java
  src/main/java/com/zerobase/minesweeper/dto/GamerActivationRequest.java
  src/main/java/com/zerobase/minesweeper/dto/GamerDeleteRequest.java
  src/main/java/com/zerobase/minesweeper/dto/GamerReissueValidationKeyRequest.java
  src/main/java/com/zerobase/minesweeper/dto/GamerSignInRequest.java
  src/main/java/com/zerobase/minesweeper/dto/GamerUpdateInfoRequest.java
  src/main/java/com/zerobase/minesweeper/entity/Gamer.java
  src/main/java/com/zerobase/minesweeper/repository/GamerRepository.java
  src/main/java/com/zerobase/minesweeper/service/GamerService.java
  src/main/java/com/zerobase/minesweeper/type/Role.java
Labels: feature request

#7 Closes #3 로그인/로그아웃 (JWT)
  src/main/java/com/zerobase/minesweeper/controller/AuthController.java
  src/main/java/com/zerobase/minesweeper/dto/LoginRequest.java
  src/main/java/com/zerobase/minesweeper/dto/TokenDto.java
  src/main/java/com/zerobase/minesweeper/dto/TokensRequest.java
  src/main/java/com/zerobase/minesweeper/entity/RefreshToken.java
  src/main/java/com/zerobase/minesweeper/repository/RefreshTokenRepository.java
  src/main/java/com/zerobase/minesweeper/security/JwtAccessDeniedHandler.java
  src/main/java/com/zerobase/minesweeper/security/JwtAuthenticationEntryPoint.java
  src/main/java/com/zerobase/minesweeper/security/JwtAuthenticationFilter.java
  src/main/java/com/zerobase/minesweeper/security/SecurityConfig.java
  src/main/java/com/zerobase/minesweeper/security/TokenProvider.java
  src/main/java/com/zerobase/minesweeper/service/AuthService.java
Labels: feature request

#9 Close 게임 조회/저장 #5, Fix CORS errors #8
  src/main/java/com/zerobase/minesweeper/controller/GameController.java
  src/main/java/com/zerobase/minesweeper/dto/GameRequest.java
  src/main/java/com/zerobase/minesweeper/dto/GameResponse.java
  src/main/java/com/zerobase/minesweeper/dto/GetGameListResponse.java
  src/main/java/com/zerobase/minesweeper/dto/GetGameResponse.java
  src/main/java/com/zerobase/minesweeper/entity/Game.java
  src/main/java/com/zerobase/minesweeper/repository/GameRepository.java
  src/main/java/com/zerobase/minesweeper/security/CorsFilter.java
  src/main/java/com/zerobase/minesweeper/security/SecurityConfig.java
  src/main/java/com/zerobase/minesweeper/service/GameService.java
Labels: bug, feature request

#11 Initial Commit Ranking
  src/main/java/com/zerobase/minesweeper/controller/GameController.java
  src/main/java/com/zerobase/minesweeper/dto/Rank.java
  src/main/java/com/zerobase/minesweeper/dto/RankingRequest.java
  src/main/java/com/zerobase/minesweeper/dto/RankingResponse.java
  src/main/java/com/zerobase/minesweeper/repository/GameRepository.java
  src/main/java/com/zerobase/minesweeper/service/GameService.java
Labels: feature request

#15 마이페이지 개인 전적 통계 기능 추가
  src/main/java/com/zerobase/minesweeper/controller/GameController.java
  src/main/java/com/zerobase/minesweeper/dto/GamerStatResponse.java
  src/main/java/com/zerobase/minesweeper/repository/GameRepository.java
  src/main/java/com/zerobase/minesweeper/repository/RankingRepository.java
  src/main/java/com/zerobase/minesweeper/service/GameService.java
Labels: feature request

#16 통계 페이지 클리어 횟수를 난이도별 클리어 횟수로 수정
  src/main/java/com/zerobase/minesweeper/dto/GamerStatResponse.java
  src/main/java/com/zerobase/minesweeper/repository/GameRepository.java
  src/main/java/com/zerobase/minesweeper/service/GameService.java
Labels: feature request

#17 Close#12 에러 메시지 통합
  src/main/java/com/zerobase/minesweeper/component/MailComponentImpl.java
  src/main/java/com/zerobase/minesweeper/controller/AuthController.java
  src/main/java/com/zerobase/minesweeper/controller/GamerController.java
  src/main/java/com/zerobase/minesweeper/dto/ErrorResponse.java
  src/main/java/com/zerobase/minesweeper/exception/GamerException.java
  src/main/java/com/zerobase/minesweeper/exception/GlobalExceptionHandler.java
  src/main/java/com/zerobase/minesweeper/exception/JwtException.java
  src/main/java/com/zerobase/minesweeper/security/JwtAccessDeniedHandler.java
  src/main/java/com/zerobase/minesweeper/security/JwtAuthenticationEntryPoint.java
  src/main/java/com/zerobase/minesweeper/security/SecurityConfig.java
  src/main/java/com/zerobase/minesweeper/security/TokenProvider.java
  src/main/java/com/zerobase/minesweeper/service/AuthService.java
  src/main/java/com/zerobase/minesweeper/service/GamerService.java
  src/main/java/com/zerobase/minesweeper/type/ErrorCode.java
Labels: enhancement
